.landing-logo img {
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
}

.box-container {
	text-align: center;
	vertical-align: middle;
  margin-top: 30px;
}

.box-dashboard {
  width: 80%;
  margin: 40px;
  margin-top: 80px;
}

.box-dash-data {
  margin: 40px;
  margin-top: 40px;
}

.box-twitter-buttons {
  margin: 40px;
  margin-top: 40px;
}


/* ----------- profile pic ------------- */

.profile-img {
    margin-top: -5px; /* -5px */
    margin-right: 5px;
    float: left;
    background: url(./images/profile_icon.png) 50% 50% no-repeat; /* 50% 50% centers image in div - http://placehold.it/30x30 */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 30px;
    height: 30px;
}
/*----------- login -----------*/

.box-login {
  text-align: center;
}

.box-inside-login {
  display: inline-block;
  width: 300px;
}
