<div class="box-dashboard">

      <H3>AutoBot - Automation Bot</H3>

      <BR>

    <p><b>Enter start URL:</b><BR>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      <input type="text" placeholder="Start at which URL?" ng-model="bCtrl.googleQuery" class="form-control">
    </div>

    </p>
    <p>
      <BR>
      <div style="box-twitter-buttons">
          <button class="btn btn-primary btn" type="button" ng-click="bCtrl.startAutoBot()">Start AutoBot!</button>

        </button>
      </div>


    </p>
</div>
