<div class="box-dashboard">
  <div class="box-center">
      <H3>User Dashboard</H3>

    <BR>
    <p>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Twitter Scraper Bot</h3>
        </div>
        <div class="panel-body">
          <div class="box-dashboard-logo">
            <img src="./images/twitter_logo.png"/>
          </div>
          <div class="box-dashboard-text">
            <p>This bot will scrape the tweets of the specified Twitter user and display the word count data visualization.</p>
            <BR>
            <p>
              <a href="#/twitterbot"><button class="btn btn-primary btn pull-right">Twitter Scraper Bot</button></a>
            </p>
          </div>
        </div>
      </div>
    </p>

<BR>

  <p>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Google Scraper Bot</h3>
      </div>
      <div class="panel-body">
        <div class="box-dashboard-logo">
          <img src="./images/google_logo.png"/>
        </div>
        <div class="box-dashboard-text">
          <p>This bot will scrape the "Top 10" search results based on your specified Google query and display the word count data visualization.</p>
          <BR>
          <p>
            <a href="#/googlebot"><button class="btn btn-primary btn pull-right">Google Scraper Bot</button></a>
          </p>
        </div>
      </div>
    </div>
  </p>


  </div>
</div>
