<div class="box-dashboard">

      <H3>User Dashboard</H3>

      <BR>

      <!-- <p>Connect via <b>angular HTTP post -> Twitter scraper bot server</b>:
      <button class="btn btn-primary btn" type="submit" ng-click="logCtrl.twitterBot()">Connect to twitterBot</button></p>

      <BR> -->

    <p><b>Enter Twitter user to scrape:</b><BR>
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" placeholder="Scrape which Twitter name?" ng-model="bCtrl.twitterUser" class="form-control">
    </div>

      <!-- <input placeholder="Scrape which Twitter name?" class="form-control" ng-model="logCtrl.twitterUser"> -->
    </p>
    <p>
      <BR>
      <div style="box-twitter-buttons">
        <button class="btn btn-primary btn" type="submit" ng-click="bCtrl.twitterBotNode()">Connect to twitterBot</button>
        <button class="btn btn-primary btn" type="submit" ng-click="bCtrl.twitterSaveData()">Save Scrape Data</button>
      </div>

      <div style={width:50px; height:50px;}>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>

    <div class="box-dash-data">
      <table class="table table-condensed">
        <tr ng-repeat="tweet in bCtrl.twitterBotArray track by $index"><td>{{ tweet }}</td></tr>
      </table>
    </div>

    </p>
</div>
