
<script type="text/javascript">
  $(function () {
      $('#myTab a:first').tab('show')
  })
</script>

<div class="box-dashboard">
  <div class="box-center">
      <H3>My Data Temples</H3>

  <!-- <p>
    <button class="btn btn-primary btn" type="button" ng-click="bCtrl.myTwitterDataTemple()">Get Twitter Data Temples!</button>
    <button class="btn btn-primary btn" type="button" ng-click="bCtrl.myGoogleDataTemple()">Get Google Data Temples!</button>
  </p> -->

<BR>

  <p>

    <div>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a data-target="#twitterData" data-toggle="tab">Twitter Data Temple</a></li>
  <li><a data-target="#googleData" data-toggle="tab">Google Data Temple</a></li>
  <li><a data-target="#autoData" data-toggle="tab">AutoBot Data Temple</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="twitterData">
    <div class="container">
        <div class="box-dash-temple-data">

          <table class="table table"> <!-- ng-show="bCtrl.myDataTemplesArray[0].twitterUser.length" -->
              <thead>
                <tr>
                  <th class="col-xs-2 col-lg-2">Twitter User</th>
                  <th class="col-xs-10 col-lg-10">Tweets</th>
                </tr>
              </thead>
            <tr ng-repeat="temple in bCtrl.myDataTemplesTwitterArray">
              <td class="col-xs-2 col-lg-2">@{{ temple.twitterName }}</td>
              <td class="col-xs-10 col-lg-10"><a href="" ng-click="showTweets = ! showTweets">{{ temple.tweets.length }} tweets</a>
              <div ng-show="showTweets">
                <ul>
                  <li ng-repeat="tweet in temple.tweets track by $index">{{ tweet }}</li>
                </ul>
              </div>
              </td>
            </tr>
          </table>
        </div>
    </div>
  </div>
  <div class="tab-pane" id="googleData">
    <div class="container">
        <div class="box-dash-temple-data">

          <table class="table table">
              <thead>
                <tr>
                  <th class="col-xs-2 col-lg-2">Google Query</th>
                  <th class="col-xs-10 col-lg-10">Results</th>
                </tr>
              </thead>
            <tr ng-repeat="temple in bCtrl.myDataTemplesGoogleArray">
              <td class="col-xs-2 col-lg-2">{{ temple.googleQuery }}</td>
              <td class="col-xs-10 col-lg-10"><a href="" ng-click="showKeywords = ! showKeywords">{{ temple.topWords.length }} results</a>
              <div ng-show="showKeywords">
                <table>
                    <thead>
                      <tr>
                        <th class="col-xs-1">Word</th>
                        <th class="col-xs-3">Word Frequency</th>
                      </tr>
                    </thead>
                  <tr ng-repeat="keywords in temple.topWords track by $index">
                    <td class="col-xs-1">{{ keywords.key }}</td>
                    <td class="col-xs-3">{{ keywords.value }}</td>
                  </tr>
                </table>
               </div>
              </td>
            </tr>
          </table>
        </div>
    </div>
  </div>
  <div class="tab-pane" id="autoData">
    <!-- AutoBot Temple -->
  </div>

  </div>
</div>

  </div>

            <!-- <div class="container">
                <div class="box-dash-temple-data">
                  <table class="table table">
                      <thead>
                        <tr>
                          <th class="col-xs-2 col-lg-2">Twitter User</th>
                          <th class="col-xs-10 col-lg-10">Tweets</th>
                        </tr>
                      </thead>
                    <tr ng-repeat="temple in bCtrl.myDataTemplesArray">
                      <td class="col-xs-2 col-lg-2">@{{ temple.twitterName }}</td>
                      <td class="col-xs-10 col-lg-10"><a href="" ng-click="showTweets = ! showTweets">{{ temple.tweets.length }} tweets</a>
                      <div ng-show="showTweets">
                        <ul>
                          <li ng-repeat="tweet in temple.tweets track by $index">{{ tweet }}</li>
                        </ul>
                      </div>
                      </td>
                    </tr>
                  </table>
                </div>
            </div> -->

  </p>

  </div>
</div>
