<div class="box-dashboard">

      <H3>Google Scraper Bot</H3>

      <BR>

    <p><b>Enter Google query to scrape:</b><BR>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      <input type="text" placeholder="Scrape which Google query?" ng-model="bCtrl.googleQuery" class="form-control">
    </div>

    </p>
    <p>
      <BR>
      <div style="box-twitter-buttons">
        <button class="btn btn-primary btn" type="submit" ng-click="bCtrl.GoogleBotNode()">Scrape!</button>
        <button class="btn btn-primary btn" type="submit" ng-click="bCtrl.GoogleSaveData()">Save Scrape Data</button>
      </div>


    </p>
</div>
