
<div class="box-container">
  <div class="landing-logo">
      <img src=".\images\zenbot_landing2.jpg">
  </div>

  <div class="landing-buttons">
    <!-- <button class="btn btn-lg btn-primary" type="submit">Get Invite</button> -->
    <!-- <button class="btn btn-lg btn-primary" ng-click="logCtrl.showLogin()" type="submit">Login</button> -->
  <!-- <div ng-show="logCtrl.isLoggedIn">LOGGED IN</div> -->

    <a href="#/login" class="btn btn-lg btn-primary">Login</a>
    <!-- <a href="#" class="btn btn-lg btn-primary" ng-click="logCtrl.showLogin()">Login</a> -->
  </div>
</div>
