
<div class="box-container">
  <div class="landing-logo">
      <img src=".\images\zenbot_landing2.jpg">
  </div>

  <div class="landing-buttons">

    <blockquote>
      <p>"He who controls the information, controls the world."</p>
      <footer>Cosmo, <cite title="Source Title">Sneakers, 1992</cite></footer>
    </blockquote>

  <BR>

  <p>

  <section id="landing">
      <div id="one"><a href="#/invite" class="btn btn-lg btn-primary">Invite</a></div>
      <div id="two"><a href="#/login" class="btn btn-lg btn-primary">Login</a></div>
  </section>

  </p>

  </div>
</div>
