<div class="container">

      <H3>My Zen Scheduler</H3>

      <BR>

    <p>This page is to schedule your zenbots to run automatically on a schedule.<BR>
      <BR>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      <input type="text" placeholder="Scrape which Google query?" ng-model="bCtrl.googleQuery" class="form-control">
    </div>

    </p>
    <p>
      <BR>
      <div style="box-twitter-buttons">


          <button class="btn btn-primary btn" type="button">Schedule!</button>


        </button>
      </div>

    </p>
</div>
